@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --default-font-family: var(--geist-mono-nerd-font);
    --default-mono-font-family: var(--geist-mono-nerd-font);
}

@layer base {
    body {
        background-color: black;
    }
}

a,
button {
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    transition-duration: 200ms;
    filter: drop-shadow(0 0 2px var(--color-green-500));
}

a:hover,
button:hover {
    filter: brightness(1.5) drop-shadow(0 0 2px var(--color-green-500));
}

a:active,
button:active {
    filter: brightness(0.7) drop-shadow(0 0 2px var(--color-green-500));
}

.prose strong {
    @apply bg-green-400 text-black border-green-400 border-2 rounded;
    font-weight: normal;
    filter: drop-shadow(0 0 2px var(--color-green-500));
}

@utility prose {
    --tw-prose-invert-links: var(--color-green-500);
}
