---
import Layout from "../layouts/Layout.astro";
import { Content } from "./content.md";
import RSVPButton from "../components/RSVPButton.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="prose prose-xl prose-invert mx-auto p-4">
        <div
            class="p-2 bg-red-500/25 mb-8 border-2 border-red-500/25 not-prose"
        >
            Draft YSWS: This is not offical and has not been finalised—we are
            still working on it
        </div>
        <div class="w-full border-2 border-green-500/25 not-prose">
            <div
                class="h-8 bg-green-500/10 border-b-2 border-green-500/25 flex items-center pl-2"
            >
                <p class="text-sm font-mono">~: ./flagged</p>
            </div>
            <div
                class="h-72 bg-green-500/5 flex justify-center items-center flex-col gap-4"
            >
                <div class="border w-72 h-24 flex items-center justify-center">
                    Flagged Logo
                </div>
                <RSVPButton />
            </div>
        </div>
        <Content />
    </div>
</Layout>
