---
import Layout from "../layouts/Layout.astro";
import { Content } from "./content.md";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="prose prose-xl prose-invert mx-auto px-2 py-8">
        <div class="p-2 bg-red-500/25 mb-8 border-2 border-red-500/25">
            Draft YSWS: This is not offical and has not been finalised—we are
            still working on it
        </div>
        <div class="w-full border-2 border-green-500/25">
            <div
                class="h-8 bg-green-500/10 border-b-2 border-green-500/25 flex items-center pl-2"
            >
                <p class="text-sm font-mono">~: ./flagged</p>
            </div>
            <div class="h-72 bg-green-500/5 flex justify-center items-center">
                Flagged Logo
            </div>
        </div>
        <Content />
    </div>
</Layout>
