---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a">, HTMLAttributes<"button"> {
    href?: string;
    type?: HTMLAttributes<"button">["type"];
}

const { class: className, href, type = "button", ...props } = Astro.props;
const sharedClass = [
    "border-green-500/25 px-4 py-1 border-2 bg-green-500/10 cursor-pointer not-prose text-center flex flex-row items-center gap-2 justify-center",
    className,
];
---

{
    href ? (
        <a {...props} href={href} class:list={sharedClass}>
            <slot />
        </a>
    ) : (
        <button {...props} type={type} class:list={sharedClass}>
            <slot />
        </button>
    )
}
