---
import Flag from "~icons/material-symbols/flag";
import Button from "./Button.astro";

const { class: btnClass } = Astro.props;
---

<Button
    href="https://flagged.fillout.com/rsvp"
    class={btnClass}
>
    <Flag />
    RSVP
</Button>
