---
import type { HTMLAttributes } from "astro/types";

const { class: className, ...props } = Astro.props;
---

<div
    {...props}
    class:list={[
        "border-2 border-green-500/25 bg-green-500/10",
        className,
    ]}
>
    <slot />
</div>
