---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
import { auth } from "../../lib/auth";
import { parseSetCookieHeader } from "better-auth/cookies";
export const prerender = false;
import Airtable from "airtable";
import { authClient } from "../../lib/auth-client";

const base = new Airtable({
    apiKey: import.meta.env.AIRTABLE_API_KEY,
}).base(import.meta.env.AIRTABLE_BASE_ID);

const user = await auth.api.getSession({
    headers: Astro.request.headers,
});

if (!user) {
    const { headers, response } = await auth.api.signInWithOAuth2({
        body: {
            providerId: "hca",
            callbackURL: Astro.request.url,
        },
        headers: Astro.request.headers,
        returnHeaders: true,
    });

    const setCookie = headers.get("set-cookie");
    if (setCookie) {
        const cookies = parseSetCookieHeader(setCookie);

        for (const [name, attrs] of cookies) {
            Astro.cookies.set(name, attrs.value, {
                domain: attrs.domain,
                expires: attrs.expires,
                httpOnly: attrs.httponly,
                maxAge: attrs["max-age"],
                path: attrs.path ?? "/",
                sameSite: attrs.samesite,
                secure: attrs.secure,
            });
        }
    }

    if (response.redirect) {
        return Astro.redirect(response.url);
    }
}

if (
    (
        await base("RSVPs")
            .select({
                maxRecords: 1,
                filterByFormula: `{Slack ID} = "${user?.user.slack_id}"`,
            })
            .firstPage()
    ).length
) {
    return Astro.redirect("/rsvp/alreadydone");
}

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const hasDoneCTF = formData.get("ctf") === "yes";
    const referrer = formData.get("ref");
    try {
        await base("RSVPs").create([
            {
                fields: {
                    Name: user?.user.name,
                    "Slack ID": user?.user.slack_id,
                    "Has done a CTF": hasDoneCTF,
                    Referrer: typeof referrer === "string" ? referrer : "",
                },
            },
        ]);
    } catch (e) {
        console.error(e);
        return Astro.redirect("/rsvp/error");
    }
    return Astro.redirect("/rsvp/done");
}
---

<Layout>
    <div class="prose prose-xl prose-invert mx-auto p-4">
        <div class="w-full border-2 border-green-500/25 not-prose">
            <div
                class="h-8 bg-green-500/10 border-b-2 border-green-500/25 flex items-center pl-2"
            >
                <p class="text-sm font-mono">~: ./flagged --rsvp</p>
            </div>
            <div
                class="min-h-72 bg-green-500/5 flex justify-center items-center flex-col gap-4 p-4"
            >
                <div class="max-w-xl flex flex-col gap-4">
                    RSVPing as
                    <div
                        class="border-2 border-green-500/25 flex flex-row p-2 pl-4 bg-green-500/10"
                    >
                        {user?.user.name} ({user?.user.slack_id})
                        <div class="grow"></div>
                        <Button class="text-sm" href="/signout">Sign out</Button
                        >
                    </div>
                    Just a quick question. Have you ever done a CTF (capture the flag)
                    before?
                    <form action="/rsvp" method="post">
                        <fieldset class="flex flex-col gap-4">
                            <legend class="sr-only">
                                Have you ever done a capture the flag before?
                            </legend>
                            <div
                                class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2"
                            >
                                <label class="cursor-pointer">
                                    <input
                                        class="peer sr-only"
                                        type="radio"
                                        id="ctf-no"
                                        value="no"
                                        name="ctf"
                                        required
                                    />
                                    <span
                                        class="flex items-center justify-center border-2 border-green-500/25 bg-green-500/5 px-4 py-3 text-center transition peer-checked:border-green-500 peer-checked:bg-green-500/15"
                                    >
                                        No
                                    </span>
                                </label>
                                <label class="cursor-pointer">
                                    <input
                                        class="peer sr-only"
                                        type="radio"
                                        id="ctf-yes"
                                        value="yes"
                                        name="ctf"
                                    />
                                    <span
                                        class="flex items-center justify-center border-2 border-green-500/25 bg-green-500/5 px-4 py-3 text-center transition peer-checked:border-green-500 peer-checked:bg-green-500/15"
                                    >
                                        Yes
                                    </span>
                                </label>
                            </div>
                            <input
                                type="hidden"
                                name="ref"
                                value={Astro.url.searchParams.get("ref")}
                            />
                            <Button type="submit">RSVP</Button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</Layout>
